MyFileWatch/WatchCilent/Web References/WimsToTest/WimsToTestManager.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://www.springframework.org/schema/beans" xmlns:ns1="http://cxf.apache.org/bindings/xformat" name="WimsToTestManager" targetNamespace="http://www.springframework.org/schema/beans" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xs:schema attributeFormDefault="unqualified" elementFormDefault="unqualified" targetNamespace="http://www.springframework.org/schema/beans" xmlns:xs="http://www.w3.org/2001/XMLSchema">
      <xs:import namespace="http://schemas.xmlsoap.org/soap/encoding/" />
      <xs:import namespace="http://schemas.xmlsoap.org/wsdl/" />
      <xs:complexType name="baseReturn">
        <xs:sequence>
          <xs:element name="isSuccued" type="xs:boolean" />
          <xs:element minOccurs="0" name="message" type="xs:string" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="trackReturn">
        <xs:complexContent mixed="false">
          <xs:extension base="tns:baseReturn">
            <xs:sequence>
              <xs:element minOccurs="0" maxOccurs="unbounded" name="value" nillable="true" type="tns:wimsSingleIssueTracking" />
            </xs:sequence>
          </xs:extension>
        </xs:complexContent>
      </xs:complexType>
      <xs:complexType name="wimsSingleIssueTracking">
        <xs:sequence>
          <xs:element minOccurs="0" name="content" type="xs:string" />
          <xs:element minOccurs="0" name="contenttype" type="xs:string" />
          <xs:element minOccurs="0" name="finishtime" type="xs:dateTime" />
          <xs:element minOccurs="0" name="fpqk" type="xs:string" />
          <xs:element minOccurs="0" name="id" type="xs:string" />
          <xs:element minOccurs="0" name="isdelete" type="xs:string" />
          <xs:element minOccurs="0" name="level" type="xs:string" />
          <xs:element minOccurs="0" name="lsh" type="xs:string" />
          <xs:element minOccurs="0" name="notes" type="xs:string" />
          <xs:element minOccurs="0" name="plantime" type="xs:dateTime" />
          <xs:element minOccurs="0" name="proid" type="xs:string" />
          <xs:element minOccurs="0" name="proinfo_id" type="xs:string" />
          <xs:element minOccurs="0" name="prono" type="xs:string" />
          <xs:element minOccurs="0" name="sqdate" type="xs:dateTime" />
          <xs:element minOccurs="0" name="sqpersonid" type="xs:string" />
          <xs:element minOccurs="0" name="status" type="xs:string" />
          <xs:element minOccurs="0" name="tcz" type="xs:string" />
          <xs:element minOccurs="0" name="ver" type="xs:string" />
          <xs:element minOccurs="0" name="zrpersonid" type="xs:string" />
        </xs:sequence>
      </xs:complexType>
      <xs:element name="findFinishWimsTrackByVer" type="tns:findFinishWimsTrackByVer" />
      <xs:complexType name="findFinishWimsTrackByVer">
        <xs:sequence>
          <xs:element minOccurs="0" name="arg0" type="xs:string" />
        </xs:sequence>
      </xs:complexType>
      <xs:element name="findFinishWimsTrackByVerResponse" type="tns:findFinishWimsTrackByVerResponse" />
      <xs:complexType name="findFinishWimsTrackByVerResponse">
        <xs:sequence>
          <xs:element minOccurs="0" name="return" type="tns:trackReturn" />
        </xs:sequence>
      </xs:complexType>
      <xs:element name="updateWimsTrackStatus" type="tns:updateWimsTrackStatus" />
      <xs:complexType name="updateWimsTrackStatus">
        <xs:sequence>
          <xs:element minOccurs="0" name="arg0" type="xs:string" />
          <xs:element minOccurs="0" name="arg1" type="xs:string" />
          <xs:element minOccurs="0" name="arg2" type="xs:string" />
        </xs:sequence>
      </xs:complexType>
      <xs:element name="updateWimsTrackStatusResponse" type="tns:updateWimsTrackStatusResponse" />
      <xs:complexType name="updateWimsTrackStatusResponse">
        <xs:sequence>
          <xs:element minOccurs="0" name="return" type="tns:baseReturn" />
        </xs:sequence>
      </xs:complexType>
    </xs:schema>
  </wsdl:types>
  <wsdl:message name="findFinishWimsTrackByVerResponse">
    <wsdl:part name="parameters" element="tns:findFinishWimsTrackByVerResponse" />
  </wsdl:message>
  <wsdl:message name="findFinishWimsTrackByVer">
    <wsdl:part name="parameters" element="tns:findFinishWimsTrackByVer" />
  </wsdl:message>
  <wsdl:message name="updateWimsTrackStatusResponse">
    <wsdl:part name="parameters" element="tns:updateWimsTrackStatusResponse" />
  </wsdl:message>
  <wsdl:message name="updateWimsTrackStatus">
    <wsdl:part name="parameters" element="tns:updateWimsTrackStatus" />
  </wsdl:message>
  <wsdl:portType name="IWimsToTestWSPortType">
    <wsdl:operation name="findFinishWimsTrackByVer">
      <wsdl:input name="findFinishWimsTrackByVer" message="tns:findFinishWimsTrackByVer" />
      <wsdl:output name="findFinishWimsTrackByVerResponse" message="tns:findFinishWimsTrackByVerResponse" />
    </wsdl:operation>
    <wsdl:operation name="updateWimsTrackStatus">
      <wsdl:input name="updateWimsTrackStatus" message="tns:updateWimsTrackStatus" />
      <wsdl:output name="updateWimsTrackStatusResponse" message="tns:updateWimsTrackStatusResponse" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="WimsToTestManagerSoapBinding" type="tns:IWimsToTestWSPortType">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="findFinishWimsTrackByVer">
      <soap:operation soapAction="" style="document" />
      <wsdl:input name="findFinishWimsTrackByVer">
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output name="findFinishWimsTrackByVerResponse">
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="updateWimsTrackStatus">
      <soap:operation soapAction="" style="document" />
      <wsdl:input name="updateWimsTrackStatus">
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output name="updateWimsTrackStatusResponse">
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="WimsToTestManager">
    <wsdl:port name="WimsToTestManager" binding="tns:WimsToTestManagerSoapBinding">
      <soap:address location="http://192.10.110.49:8080/wisoftintegrateframe/services/WimsToTest" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>